python-dotenv
pandas
numpy
sentence-transformers
faiss-cpu
yfinance
huggingface-hub
requests
openpyxl
nest_asyncio
python-telegram-bot==21.6
python-dotenv
pandas
numpy
yfinance
matplotlib
scikit-learn
feedparser
openpyxl
requests
groq